body {
  margin: 0;
  padding: 0;
  background: #6ebbdf;
  color: #424272;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}